@tailwind base;

@tailwind components;

@tailwind utilities;

.header-clipping {
  @apply .relative;
}

.header-clipping .container {
  @apply .relative;
  z-index: 3;
}

.header-clipping::before {
  @apply .w-full .bg-indigo-900 .h-120 .inset-0 .absolute;
  content: "";
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
}