@tailwind base;

@tailwind components;

@tailwind utilities;

.hero-rounded {
  border-bottom-right-radius: 25%;
  border-bottom-left-radius: 25%;
}


.field:before {
  content: "";
  display: inline-block;
back
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}